@import url(normalice.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {}

* {
    font-family: 'Roboto', sans-serif;
}

.pagina {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    grid-template-areas:
        "problema respuestas";
    padding: 30px;
}

.pagina__problema {
    grid-area: problema;
    padding: 20px;
}

.problema-cabeza{
    display: grid;
    grid-template-columns:80px 100px 150px auto;
    grid-template-rows:60px 80px;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "nombre rol carrera fecha";
}

.problema__titulo{
    grid-area:titulo;
}

.problema__usuario{
    grid-area:nombre;
}

.problema__rol{
    grid-area: rol;
}

.problema__carrera{
    grid-area:carrera;
}

.problema__fecha{
    grid-area:fecha;
}

.problema__usuario{
    font-size: 0.8em;
}

.pagina__respuestas {
    grid-area: respuestas;
}

.respuestas__contenido {
    display: grid;
    grid-template-areas:
        "usuario"
        "respuesta";
    background-color: #f2f1f1;
    padding: 10px;
}

.respuestas__contenedor{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 20px;        
}


.pagina__respuestas {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.usuario-respuesta {
    grid-area: respuesta;
}

.usuario__respuesta {
    display: grid;
    justify-items: center;
}

.usuario-usuario {
    display: grid;
    grid-template-columns: 80px 5vw 10vw;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "icono nombre nombre nombre"
    "icono rol carrera fecha";
    column-gap: 10px;
}

.usuario__icono {
    height: 80px;
    max-width: 90px;
    width: 100%;
    grid-area: icono;
    align-self: center;
    text-align: center;
}

.usuario__nombre {
    grid-area:nombre;
    align-self: end;
    font-weight: 500;
}

.usuario__rol{
    grid-area: rol;
    font-size: 0.8em;
    align-self: flex-start;
}

.usuario__carrera{
    grid-area: carrera;
    font-size: 0.8em;
    
}

.usuario__fecha-respuesta{
    grid-area:fecha;
    font-size: 0.8em;

}

@media only screen and (max-width:600px) {


    .pagina {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "problema" 
            "respuestas";
        padding: 30px;
    }

    .respuestas__contenido {
        display: grid;
        grid-template-areas:
            "usuario"
            "respuesta";
    }

    .usuario__icono{
        text-align: center;
    }

    .usuario-usuario {
        display: grid;
        grid-template-columns: auto;
    }

    .usuario__nombre {

    }
    
}